<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CloudWatch" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <pattern>{"replicaId":"${HOSTNAME}", "message": "%msg"}</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CloudWatch"/>
    </root>
</configuration>